h1 {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 30px;
    color: lightsalmon;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: teal;
    background: linear-gradient(red, orange);
}

div {
    margin-top: 30px;
    width: 360px;
    text-align: left;
    color: lightgrey;
    font-weight: bolder;
    font-size: 25px;
    font-family: sans-serif;
    font-style: italic;
}

img {
    height: 10rem;
    width: auto;
    transform: rotateZ(20deg);
    filter: grayscale(.9);
}

ul {
    transform: rotateZ(-22deg);
}

h1 {
    transform: skewY(9deg);
}